<div class="">
    <h1>Widget Component</h1>
    <form action="" (change)="onChange($event)">
        <div class="field-group" id="field-group-1">
          <input type="number" id="form-input-1">
          <select name="" id="form-select-1">
            <option value="usd">USD</option>
            <option value="eur">EURO</option>
            <option value="pln">PLN</option>
            <option value="uah">UAH</option>
          </select>
        </div>

        <div class="field-group" id="field-group-2">
          <input type="number" id="form-input-2" value={{inputTwoValue}}>
          <select name="" id="form-select-2">
            <option value="usd">USD</option>
            <option value="eur">EURO</option>
            <option value="pln">PLN</option>
            <option value="uah">UAH</option>
          </select>
        </div>
      </form>
</div>